.header {
    background-color: var(--gray-800);
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    background-color: var(--green-500);
    border-radius: 9999px;
    height: 2rem;
}

.header span {
    margin-left: 1rem;
    font-weight: bold;
}